<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zuoqiang.dao.ClazzMapper" >

    <select id="selectClazzById" parameterType="int" resultMap="ClazzMap">
        SELECT * FROM tb_clazz where id=#{id}
    </select>
    <resultMap id="ClazzMap" type="Clazz">
        <id property="id" column="id"></id>
        <result property="code" column="code"></result>
        <result property="name" column="name"></result>
     <!--一对多关联映射 一个班级多个学生-->
        <collection property="students"
                    select="com.zuoqiang.dao.StudentMapper.selectStudentByClazzId"
                    column="id" javaType="ArrayList" ofType="Student" fetchType="lazy">
            <id property="id" column="id"></id>
            <result property="age" column="age"></result>
            <result property="name" column="NAME"></result>
            <result property="sex" column="sex"></result>
        </collection>
    </resultMap>
</mapper>