<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zuoqiang.dao.StudentMapper" >
    <select id="selectStudentById" parameterType="int" resultMap="StudentMap">
        select * from tb_clazz c,tb_student s where c.id=s.clazz_id and s.id=#{id}
            </select>
    <!--映射学生对象-->
    <resultMap id="StudentMap" type="Student">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <association property="clazz" javaType="Clazz">
            <id property="id" column="id"></id>
            <result property="code" column="code"></result>
            <result property="name" column="name"></result>
        </association>
    </resultMap>
    <!--根据班级id查询学生-->
    <select id="selectStudentByClazzId" parameterType="int" resultMap="StudentMap">
        SELECT * FROM tb_student where clazz_id=#{id}
    </select>

</mapper>